
}
/* change output area style */
div.output_text {
  text-align: left;
  color: #000;
  font-family: Monaco;
  font-weight: 400;
  font-size: 20;
  #line-height: 1.21429em;
  #line-height: 2.0em;
  border: solid .5px #2af8ff4d;
  border-left: solid 3px #2af8ff4d;
}
/* decrease the minimum space size of left side of html area and output area */
.prompt {
  min-width: 11ex;
}
/* change font of code input area */
 .CodeMirror-code {
  outline: none;
  font-family: Monaco;
  font-weight: 400;
  font-size: 20;
}
